
@{
    ViewData["Title"] = "Index";
}

<centre>

    


    <!---------Home------------------------------->

    <section id="Home">
        <hr />


        <!------Diashow----------------------------->



        <ul class="slideshow">
  <li><span>Image 01</span><div><h3>A little something something</h3></div></li>
  <li><span>Image 02</span></li>
  <li><span>Image 03</span></li>
  <li><span>Image 04</span></li>
  <li><span>Image 05</span></li>
  <li><span>Image 06</span></li>
</ul>
  <div class="container">
    <header>
      <h1>CSS3 <span>Fullscreen Slideshow</span></h1>
  </header>
</div>
        <!--------------Pfeil----------------------->
        <div id="PfeilAbout">
            <a href="#about">
                <img src="~/Multimedia/pfeil.png.png" alt="Pfeil" height="40" width="50" />

            </a>
        </div>
        <br>
        <br>
        <br>
        <br>

    </section>

    <!---------About------------------------------->
    <section id="about">
        <h3>About</h3>
        <hr />
        <img src="~/Multimedia/myindigo_logo.png" alt="ka" />
        <h4>MyIdigo</h4>
        <p>blablablabla</p>
        <!--------------------------------------------->
        <div id="PfeilRezension">
            <a href="#Rezension">
                <img src="~/Multimedia/pfeil.png.png" alt="Pfeil" height="40" width="50" />

            </a>
        </div>
    </section>

    <!---------Contact------------------------------->
    <section id="Rezension">
        <h3>Rezension</h3>
        <hr />
        <form>
            <input type="email" tabindex="1" placeholder="E-Mail" /><br />
            <input type="text" tabindex="2" placeholder="Betreff" /><br />
            <textarea tabindex="3" placeholder="text"></textarea><br />
            <input class="button" type="submit" />

        </form>
        <br>
        <br>
        <br>
    </section>
