
@{
    ViewData["Title"] = "Navigation";
}

<body>
    <center>
        <a href="/home/Navigation"> <button type="button">    <img src="~/Multimedia/myindigo_logo.png" height="325" width="500" /> </button> </a>

        <p style="color:black;font-size:18px;">Hier gehts zu unserer Website</p>
    </center>
</body>




