
@{
    ViewData["Title"] = "Navigation";
}



<nav class="navbar navbar-expand-sm bg-dimgray navbar-light">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="#">Lieblingsplatz</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Bestellen</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">myIndigo.com</a>
        </li>

        <li class="nav-item mr-auto" style="float: right">
            <a class="nav-link disabled" href="#"> <img src="~/Multimedia/myindigo_logo.png" height="25" width="50" /></a>
        </li>

    </ul>
</nav>
    <body>
        <centre>
            <img src="~/Multimedia/myindigo_logo.png" height="325" width="500" />
        </centre>

    </body>





