<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div id="Gericht1">
        <a href="/bestellungs/registration">
            <img src="~/Multimedia/bild1.png" alt="Gericht" style="width:30%" />
            <form asp-controller="Bestellungs" asp-action="Bestellbestaetigung" method="post">
                <p>
                    <label asp-for="gerichtName" font size="7"> Chickenceaserbowl </label>

                </p>

                <p>
                    <label asp-for="preis" font size="7"> Preis: 7,50 Euro </label>
                </p>
            </form>
        </a>
</div>


<div id="Gericht1">
        <a href="/bestellungs/registration">
            <img src="~/Multimedia/bild2.png" alt="Gericht" style="width:30%" />
            
                <p>
                    <b>
                        <font size="7">
                            Chickenbowl
                        </font>
                    </b>
                </p>
                <p>

                    Preis: 9,50 Euro
                </p>
           
        </a>
</div>

<div id="Gericht2">   
        <a href="/bestellungs/registration">
            <img src="~/Multimedia/bild3.png" alt="Gericht" style="width:30%" />
            
                <p>
                    <b>
                        <font size="7">
                            Chillibowl
                        </font>
                    </b>
                </p>
                <p>
                    Preis: 8,10 Euro
                </p>
            
        </a>
</div>

<div id="Gericht2">
    <a href="/bestellungs/registration">
        <img src="~/Multimedia/bild4.png" alt="Gericht" style="width:30%" />
        
            <p>
                <b>
                    <font size="7">
                        Beefbowl
                    </font>
                </b>
            </p>
            <p>
                Preis: 7,90 Euro
            </p>
        
    </a>
</div>

