<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - _1Website_Vogt</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=iso-8859-2" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
    </style>
</head>

<body>
    <centre>
    <header>
        <!---------Menu-Leiste------------------------------->
        <div id="logo">
            <a href="#">
                <img src="~/Multimedia/myindigo_logo.png" alt="LOGO" height="65" width="100" />
            </a>
        </div>
        <nav id="main-nav">
            <nav>
                <partial name="Navigation" />
            </nav>
        </nav>
    </header>



    <main>
        @RenderBody()

    </main>

    <!---------Footer------------------------------->
    <footer id="footer">
        <p style="border:solid">
            &copy; MyIddigo
        </p>
    </footer>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    </centre>
</body>

</html>
