

.headercontainer{
    display:flex;
    justify-content:space-between;
}

.box1 {
    width: 4500px;
    height: 2680px;
    background-color: #3b3b40;
    /*background-image: url(../Multimedia/myindigo_logo.png);*/
}

#container {
    width: 100%;
    min-width: 640px;
    margin: 0px auto;
}


